<p id="notice"><%= notice %></p>

<p>
  <strong>Source:</strong>
  <%= @session.source_id %>
</p>

<p>
  <strong>Session status:</strong>
  <%= @session.session_status %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
